<?xml version="1.0" encoding="UTF-8"?>

<beans>
    <!-- scyTestService -->
    <bean name="scyTestService" class="com.minis.iocTestClass.ScyTestServiceImpl" init-method="initScyTestService">
        <!-- bean 的构造器参数 -->
        <constructor-arg name="name" type="String" value="scy"/>
        <constructor-arg name="level" type="Integer" value="25"/>
        <!-- bean 的成员属性 -->
        <property name="property1" type="String" value="Scy"/>
        <property name="property2" type="Integer" value="25"/>
        <!-- bean 的成员属性也是一个 bean -->
        <property name="scyBaseService" type="com.minis.iocTestClass.ScyBaseService" ref="scyBaseService"/>
    </bean>

    <!-- scyBaseService -->
    <bean name="scyBaseService" class="com.minis.iocTestClass.ScyBaseService">
        <property name="scyCircleService" type="com.minis.iocTestClass.ScyCircleService" ref="scyCircleService"/>
    </bean>

    <!-- scyCircleService -->
    <bean name="scyCircleService" class="com.minis.iocTestClass.ScyCircleService">
        <!-- scyTestService 属性使用@Autowire注解注入，不通过xml配置注入  -->
        <!-- <property name="scyTestService" type="com.minis.iocTestClass.ScyTestServiceImpl" ref="scyTestService"/> -->
    </bean>

    <!-- webBindingInitializer -->
    <bean name="webBindingInitializer" class="com.minis.test.DateInitializer"/>

</beans>