<?xml version="1.0" encoding="UTF-8"?>

<beans>
    <!-- scyTestService -->
    <bean name="scyTestService" class="com.minis.iocTestClass.ScyTestServiceImpl" init-method="initScyTestService">
        <!-- bean 的构造器参数 -->
        <constructor-arg name="name" type="String" value="scy"/>
        <constructor-arg name="level" type="Integer" value="25"/>
        <!-- bean 的成员属性 -->
        <property name="property1" type="String" value="Scy"/>
        <property name="property2" type="Integer" value="25"/>
        <!-- bean 的成员属性也是一个 bean -->
        <property name="scyBaseService" type="com.minis.iocTestClass.ScyBaseService" ref="scyBaseService"/>
    </bean>

    <!-- scyBaseService -->
    <bean name="scyBaseService" class="com.minis.iocTestClass.ScyBaseService">
        <property name="scyCircleService" type="com.minis.iocTestClass.ScyCircleService" ref="scyCircleService"/>
    </bean>

    <!-- scyCircleService -->
    <bean name="scyCircleService" class="com.minis.iocTestClass.ScyCircleService">
        <!-- scyTestService 属性使用@Autowire注解注入，不通过xml配置注入  -->
        <!-- <property name="scyTestService" type="com.minis.iocTestClass.ScyTestServiceImpl" ref="scyTestService"/> -->
    </bean>


    <!-- HandlerMapping -->
    <bean name="handlerMapping" class="com.minis.web.method.annotation.RequestMappingHandlerMapping"/>

    <!-- HandlerAdapter -->
    <bean name="handlerAdapter" class="com.minis.web.method.annotation.RequestMappingHandlerAdapter">
        <property name="webBindingInitializer" type="com.minis.web.bind.support.WebBindingInitializer" ref="webBindingInitializer"/>
        <property name="messageConverter" type="com.minis.http.converter.HttpMessageConverter" ref="messageConverter"/>
    </bean>

    <!-- ViewResolver -->
    <bean name="viewResolver" class="com.minis.web.servlet.view.InternalResourceViewResolver" >
        <property type="String" name="viewClassName" value="com.minis.web.servlet.view.JstlView" />
        <property type="String" name="prefix" value="/jsp/" />
        <property type="String" name="suffix" value=".jsp" />
    </bean>


    <!-- webBindingInitializer -->
    <bean name="webBindingInitializer" class="com.minis.test.mvc.DateInitializer"/>

    <!-- messageConverter -->
    <bean name="messageConverter" class="com.minis.http.converter.DefaultHttpMessageConverter">
        <property name="objectMapper" type="com.minis.util.ObjectMapper" ref="objectMapper"/>
    </bean>

    <!-- objectMapper -->
    <bean name="objectMapper" class="com.minis.util.DefaultObjectMapper" >
        <property type="String" name="dateFormat" value="yyyy/MM/dd"/>
        <property type="String" name="decimalFormat" value="###.##"/>
    </bean>


    <!-- JdbcTemplate -->
    <bean name="jdbcTemplate" class="com.minis.jdbc.core.JdbcTemplate">
        <property type="javax.sql.DataSource" name="dataSource" ref="dataSource"/>
    </bean>

    <!-- dataSource -->
    <bean name="dataSource" class="com.minis.jdbc.pool.PooledDataSource">
        <property type="String" name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property type="String" name="url" value="jdbc:mysql://localhost:3306/MiniSpring?useSSL=false&amp;useUniCode=true&amp;characterEncoding=utf8"/>
        <property type="String" name="username" value="root"/>
        <property type="String" name="password" value=""/>
        <property type="int" name="initialSize" value="3"/>
    </bean>

    <!-- UserService -->
    <bean name="userService" class="com.minis.test.jdbc.service.UserService" />


    <!-- sqlSessionFactory -->
    <bean name="sqlSessionFactory" class="com.minis.batis.DefaultSqlSessionFactory" init-method="init">
        <property type="String" name="mapperLocations" value="mapper"/>
    </bean>

</beans>