<?xml version="1.0" encoding="UTF-8"?>

<beans>
    <!-- scyTestService -->
    <bean name="scyTestService" class="com.test.ioc.ScyTestServiceImpl" init-method="initScyTestService">
        <!-- bean 的构造器参数 -->
        <constructor-arg name="name" type="String" value="scy"/>
        <constructor-arg name="level" type="Integer" value="25"/>
        <!-- bean 的成员属性 -->
        <property name="property1" type="String" value="Scy"/>
        <property name="property2" type="Integer" value="25"/>
        <!-- bean 的成员属性也是一个 bean -->
        <property name="scyBaseService" type="com.test.ioc.ScyBaseService" ref="scyBaseService"/>
    </bean>

    <!-- scyBaseService -->
    <bean name="scyBaseService" class="com.test.ioc.ScyBaseService">
        <property name="scyCircleService" type="com.test.ioc.ScyCircleService" ref="scyCircleService"/>
    </bean>

    <!-- scyCircleService -->
    <bean name="scyCircleService" class="com.test.ioc.ScyCircleService">
        <!-- scyTestService 属性使用@Autowire注解注入，不通过xml配置注入  -->
        <!-- <property name="scyTestService" type="com.test.ioc.ScyTestServiceImpl" ref="scyTestService"/> -->
    </bean>

    <bean name="autowiredAnnotationBeanPostProcessor" class="com.minis.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

    <bean name="myBeanFactoryPostProcessor" class="com.test.ioc.processor.MyBeanFactoryPostProcessor" />

    <bean name="myContextRefreshListener" class="com.test.ioc.listener.MyContextRefreshListener" />


    <!-- HandlerMapping -->
    <bean name="handlerMapping" class="com.minis.web.method.annotation.RequestMappingHandlerMapping"/>

    <!-- HandlerAdapter -->
    <bean name="handlerAdapter" class="com.minis.web.method.annotation.RequestMappingHandlerAdapter">
        <property name="webBindingInitializer" type="com.minis.web.bind.support.WebBindingInitializer" ref="webBindingInitializer"/>
        <property name="messageConverter" type="com.minis.http.converter.HttpMessageConverter" ref="messageConverter"/>
    </bean>

    <!-- ViewResolver -->
    <bean name="viewResolver" class="com.minis.web.servlet.view.InternalResourceViewResolver" >
        <property type="String" name="viewClassName" value="com.minis.web.servlet.view.JstlView" />
        <property type="String" name="prefix" value="/jsp/" />
        <property type="String" name="suffix" value=".jsp" />
    </bean>


    <!-- webBindingInitializer -->
    <bean name="webBindingInitializer" class="com.test.mvc.DateInitializer"/>

    <!-- messageConverter -->
    <bean name="messageConverter" class="com.minis.http.converter.DefaultHttpMessageConverter">
        <property name="objectMapper" type="com.minis.util.ObjectMapper" ref="objectMapper"/>
    </bean>

    <!-- objectMapper -->
    <bean name="objectMapper" class="com.minis.util.DefaultObjectMapper" >
        <property type="String" name="dateFormat" value="yyyy/MM/dd"/>
        <property type="String" name="decimalFormat" value="###.##"/>
    </bean>


    <!-- JdbcTemplate -->
    <bean name="jdbcTemplate" class="com.minis.jdbc.core.JdbcTemplate">
        <property type="javax.sql.DataSource" name="readDataSource" ref="readDataSource"/>
        <property type="javax.sql.DataSource" name="writeDataSource" ref="writeDataSource"/>
    </bean>

    <!-- readDataSource -->
    <bean name="readDataSource" class="com.minis.jdbc.pool.PooledDataSource">
        <property type="String" name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property type="String" name="url" value="jdbc:mysql://localhost:3306/MiniSpring?useSSL=false&amp;useUniCode=true&amp;characterEncoding=utf8"/>
        <property type="String" name="username" value="root"/>
        <property type="String" name="password" value=""/>
        <property type="int" name="initialSize" value="3"/>
    </bean>

    <!-- writeDataSource -->
    <bean name="writeDataSource" class="com.minis.jdbc.pool.PooledDataSource">
        <property type="String" name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property type="String" name="url" value="jdbc:mysql://localhost:3306/MiniSpring?useSSL=false&amp;useUniCode=true&amp;characterEncoding=utf8"/>
        <property type="String" name="username" value="root"/>
        <property type="String" name="password" value=""/>
        <property type="int" name="initialSize" value="3"/>
    </bean>

    <!-- UserService -->
    <bean name="userService" class="com.test.jdbc.service.UserService" />

    <!-- sqlSessionFactory -->
    <bean name="sqlSessionFactory" class="com.minis.batis.DefaultSqlSessionFactory" init-method="init">
        <property type="String" name="mapperLocations" value="mapper"/>
    </bean>


<!--    &lt;!&ndash; actionOne &ndash;&gt;-->
<!--    <bean name="actionOne" class="com.minis.aop.framework.ProxyFactoryBean" >-->
<!--        <property type="java.lang.Object" name="target" ref="actionOneImpl"/>-->
<!--        &lt;!&ndash; 配置日志增强 &ndash;&gt;-->
<!--        &lt;!&ndash; <property type="String" name="interceptorName" value="loggingBeforeInterceptor"/> &ndash;&gt;-->
<!--        <property type="String" name="interceptorName" value="advisor"/>-->
<!--    </bean>-->

<!--    <bean name="actionOneImpl" class="com.test.aop.service.ActionOneImpl" />-->

    <bean name="loggingInterceptor" class="com.test.aop.advice.LoggingInterceptor"/>

    <bean name="loggingBeforeInterceptor" class="com.test.aop.advice.LoggingBeforeInterceptor"/>

    <bean name="advisor" class="com.minis.aop.support.NameMatchMethodPointcutAdvisor">
        <property type="com.minis.aop.Advice" name="advice" ref="transactionInterceptor"/>
        <property type="String" name="mappedName" value="doAction*"/>
    </bean>


    <bean name="autoProxyCreator" class="com.minis.aop.framework.autoproxy.BeanNameAutoProxyCreator" >
        <property type="String" name="pattern" value="action*" />
        <property type="String" name="interceptorName" value="advisor" />
    </bean>

    <bean name="actionOne" class="com.test.aop.service.ActionOneImpl" />

    <bean name="transactionInterceptor" class="com.test.aop.advice.TransactionInterceptor" >
        <property type="com.test.aop.advice.TransactionManager" name="transactionManager" ref="transactionManager" />
    </bean>

    <bean name="transactionManager" class="com.test.aop.advice.TransactionManager" />

</beans>