<?xml version="1.0" encoding="UTF-8"?>

<beans>
    <!-- scyTestService -->
    <bean name="scyTestService" class="com.minis.ScyTestServiceImpl">
        <!-- bean 的构造器参数 -->
        <constructor-arg name="name" type="String" value="scy"/>
        <constructor-arg name="level" type="Integer" value="25"/>
        <!-- bean 的成员属性 -->
        <property name="property1" type="String" value="Scy"/>
        <property name="property2" type="Integer" value="25"/>
        <!-- bean 的成员属性也是一个 bean -->
        <property name="baseService" type="com.minis.ScyBaseService" ref="scyBaseService"/>
    </bean>

    <!-- scyBaseService -->
    <bean name="scyBaseService" class="com.minis.ScyBaseService">
        <property name="circleService" type="com.minis.ScyCircleService" ref="scyCircleService"/>
    </bean>

    <!-- scyCircleService -->
    <bean name="scyCircleService" class="com.minis.ScyCircleService">
        <property name="testService" type="com.minis.ScyTestServiceImpl" ref="scyTestService"/>
    </bean>
</beans>