<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="com.minis.test.jdbc.entity.User">

    <select id="getUserById" parameterType="java.lang.Integer" resultType="com.minis.test.jdbc.entity.User">
        select id, name, age, birthday
        from user
        where id = ?
    </select>

</mapper>